#### [파이썬 문제 1000제](https://www.notion.so/Python-100-1-abeccbfd8175483da1ed96642640c687)

# 문제1 : 리스트의 삭제
다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.

In [5]:
nums = [100, 200, 300, 400, 500]
nums.remove(400)
nums.remove(500)
nums

[100, 200, 300]

In [8]:
nums = [100, 200, 300, 400, 500]
nums.pop()
nums.pop()
nums

[100, 200, 300]

# 문제2 : 리스트의 내장함수

In [9]:
l = [200, 100, 300]
l.insert(2, 1000)
print(l)

[200, 100, 1000, 300]

# 문제3: 변수의 타입

In [10]:
l = [100, 200, 300]
print(type(l))

<class 'list'>

# 문제5: for문 계산

In [15]:
a = 10
b = 2
for i in range(1,5,2):
    a += i
    
print(a+b)

16

# 문제8 : 딕셔너리 키 이름 중복

In [19]:
d = {'height':180,
     'weight':84,
     'temparture':36,
     'eyesight':1}

In [20]:
print(d['weight'])

84

# 문제9 : sep과 end를활용한 출력방법

In [31]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':', end=' !!!')

# sep="": print 함수에서 출력하는 값들을 구분
# end="": print함수는 종료될때 끝을 줄바꿈 문자로 하는데, 
# 함수가 종료될때 실행하는 값을 조정함/ 즉, 줄바꿈으로 종요하지 않음

2019/04/26 11:34:27 !!!

# 문제10: 별 찍기
크리스마스 날, 은비는 친구들과 함께 파티를 하기로 했습니다. 그런데, 크리스마스 트리를 사는 것을 깜빡하고 말았습니다. 온 가게를 돌아다녀 봤지만 크리스마스 트리는 모두 품절이었습니다. 
하는 수 없이 은비는 프로그래밍으로 트리를 만들기로 합니다. 

**은비를 위해 프로그램을 작성해 주세요.**

In [53]:
n = int(input("숫자를 적어보세요:"))
for i in range(n):
    print(''*(i), "*"*(2*i-1))

숫자를 적어보세요:5

 *
 ***
 *****
 *******

# 문제11: for를 이용한 기본 활용
1부터 100까지 모두 더하는 Code를 완성하세요. for를 사용해야 합니다.

In [56]:
s = 0

for i in range(1, 101):
    s += i

print(s)

5050

# 문제12: 게임 캐릭터 클래스 만들기
다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

In [66]:
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
        
    def attack(self):
        print('파이어볼')

In [71]:
x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

# 문제13: 몇 번째 행성인가요?
우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

In [77]:
solar = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
anwser = int(input('숫자를 적으세요: '))-1
print(solar[anwser])

숫자를 적으세요: 4
화성

# 문제14: 3의 배수인가요?
영희는 친구와 게임을 하고 있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.

입력으로 랜덤한 숫자 n이 주어집니다.

만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요

In [80]:
n = int(input("아무 숫자나 적어: "))
if n % 3 == 0:
    print('짝!')
else:
    print(n)

아무 숫자나 적어: 5
5

# 문제15: 자기소개

In [86]:
name = input('이름을 적으세요: ')
print(f'안녕하세요. 저는 {name} 입니다.')

이름을 적으세요: 박지혜
안녕하세요. 저는 박지혜 입니다.

# 문제16: 로꾸거

In [90]:
str1 = input('입력하세요: ')
print(str1[::-1])

입력하세요: 박지혜
혜지박

# 문제17: 놀이기구 키 제한
유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다.
유주가 담당하는 놀이기구는 키가 150 이상만 탈 수 있습니다.

입력으로 키가 주어지면
키가 150이 넘으면 **YES**를 틀리면 **NO**를 출력하는 프로그램을 작성하세요.

In [95]:
height = int(input('내 키는 몇?'))

if height >= 150:
    print('YES!')
else:
    print('NO!')

내 키는 몇?150
YES!

# 문제18: 평균 점수
영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주기로 했습니다.

공백으로 구분하여 세 과목의 점수가 주어지면
전체 평균 점수를 구하는 프로그램을 작성하세요. 단, 소숫점 자리는 모두 버립니다.

In [7]:
data = list(map(int, input().split()))
print(data)
# print(int(sum(data)/3))

1 2 3 4 5
[1, 2, 3, 4, 5]

# 문제 37: count 사용하기
새 학기를 맞아 호준이네 반은 반장 선거를 하기로 했습니다.  그런데 표를 하나씩 개표하는 과정이 너무 번거롭게 느껴진 당신은 학생들이 뽑은 후보들을 입력받으면 뽑힌 학생의 이름과 받은 표 수를 출력하는 프로그램을 작성하기로 하였습니다.

In [79]:
data = list(input().split())
print('data: ', data)
vote = 0

# for i in range(len(data)):
print(i)
print('data[i-1]',data[i-1])
print('data[i]', data[i])
print('data.count(data[i-1])', data.count(data[i-1]))
print('data.count[data[i]]', data.count(data[i]))
#     if data.count(data[i-1]) < data.count(data[i]):
#         vote = i
#         print("{}(이)가 총 {}표로 반장이 되었습니다.".format(data[vote], data.count(data[vote])))

지혜 재민 지혜
data:  ['지혜', '재민', '지혜']
2
data[i-1] 재민
data[i] 지혜
data.count(data[i-1]) 1
data.count[data[i]] 2

In [82]:
data = list(input().split())
print('data: ', data)
vote = 0

for i in range(len(data)):
    if data.count(data[i-1]) < data.count(data[i]):
        vote += i
        print(vote)
        print("{}(이)가 총 {}표로 반장이 되었습니다.".format(data[vote], data.count(data[vote])))

지혜 지혜 재민
data:  ['지혜', '지혜', '재민']
0
지혜(이)가 총 2표로 반장이 되었습니다.