#### [파이썬 문제 1000제](https://www.notion.so/Python-100-1-abeccbfd8175483da1ed96642640c687)

# 문제1 : 리스트의 삭제
다음 리스트에서 400, 500를 삭제하는 code를 입력하세요.

In [5]:
nums = [100, 200, 300, 400, 500]
nums.remove(400)
nums.remove(500)
nums

[100, 200, 300]

In [8]:
nums = [100, 200, 300, 400, 500]
nums.pop()
nums.pop()
nums

[100, 200, 300]

# 문제2 : 리스트의 내장함수

In [9]:
l = [200, 100, 300]
l.insert(2, 1000)
print(l)

[200, 100, 1000, 300]

# 문제3: 변수의 타입

In [10]:
l = [100, 200, 300]
print(type(l))

<class 'list'>

# 문제5: for문 계산

In [15]:
a = 10
b = 2
for i in range(1,5,2):
    a += i
    
print(a+b)

16

# 문제8 : 딕셔너리 키 이름 중복

In [19]:
d = {'height':180,
     'weight':84,
     'temparture':36,
     'eyesight':1}

In [20]:
print(d['weight'])

84

# 문제9 : sep과 end를활용한 출력방법

In [31]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':', end=' !!!')

# sep="": print 함수에서 출력하는 값들을 구분
# end="": print함수는 종료될때 끝을 줄바꿈 문자로 하는데, 
# 함수가 종료될때 실행하는 값을 조정함/ 즉, 줄바꿈으로 종요하지 않음

2019/04/26 11:34:27 !!!

# 문제10: 별 찍기
크리스마스 날, 은비는 친구들과 함께 파티를 하기로 했습니다. 그런데, 크리스마스 트리를 사는 것을 깜빡하고 말았습니다. 온 가게를 돌아다녀 봤지만 크리스마스 트리는 모두 품절이었습니다. 
하는 수 없이 은비는 프로그래밍으로 트리를 만들기로 합니다. 

**은비를 위해 프로그램을 작성해 주세요.**

In [53]:
n = int(input("숫자를 적어보세요:"))
for i in range(n):
    print(''*(i), "*"*(2*i-1))

숫자를 적어보세요:5

 *
 ***
 *****
 *******

# 문제11: for를 이용한 기본 활용
1부터 100까지 모두 더하는 Code를 완성하세요. for를 사용해야 합니다.

In [56]:
s = 0

for i in range(1, 101):
    s += i

print(s)

5050

# 문제12: 게임 캐릭터 클래스 만들기
다음 소스코드에서 클래스를 작성하여 게임 캐릭터의 능력치와 '파이어볼'이 출력되게 만드시오.

In [66]:
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor
        
    def attack(self):
        print('파이어볼')

In [71]:
x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

# 문제13: 몇 번째 행성인가요?
우리 태양계를 이루고 있는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성으로 총 8개 입니다. 저희는 우리 태양계의 n번째 행성이 무엇인지 알고 싶습니다.

입력으로 행성의 순서를 나타내는 숫자 n이 입력됩니다. 예를들어 수성은 첫번째 행성입니다.

In [77]:
solar = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
anwser = int(input('숫자를 적으세요: '))-1
print(solar[anwser])

숫자를 적으세요: 4
화성

# 문제14: 3의 배수인가요?
영희는 친구와 게임을 하고 있습니다. 서로 돌아가며 랜덤으로 숫자를 하나 말하고 그게 3의 배수이면 박수를 치고 아니면 그 숫자를 그대로 말하는 게임입니다.

입력으로 랜덤한 숫자 n이 주어집니다.

만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요

In [80]:
n = int(input("아무 숫자나 적어: "))
if n % 3 == 0:
    print('짝!')
else:
    print(n)

아무 숫자나 적어: 5
5

# 문제15: 자기소개

In [86]:
name = input('이름을 적으세요: ')
print(f'안녕하세요. 저는 {name} 입니다.')

이름을 적으세요: 박지혜
안녕하세요. 저는 박지혜 입니다.

# 문제16: 로꾸거

In [90]:
str1 = input('입력하세요: ')
print(str1[::-1])

입력하세요: 박지혜
혜지박

# 문제17: 놀이기구 키 제한
유주는 놀이공원 아르바이트 중입니다. 그런데 놀이기구마다 키 제한이 있습니다.
유주가 담당하는 놀이기구는 키가 150 이상만 탈 수 있습니다.

입력으로 키가 주어지면
키가 150이 넘으면 **YES**를 틀리면 **NO**를 출력하는 프로그램을 작성하세요.

In [95]:
height = int(input('내 키는 몇?'))

if height >= 150:
    print('YES!')
else:
    print('NO!')

내 키는 몇?150
YES!

# 문제18: 평균 점수
영하네 반은 국어, 수학, 영어 시험을 보았습니다. 영하는 친구들의 평균 점수를 구해주기로 했습니다.

공백으로 구분하여 세 과목의 점수가 주어지면
전체 평균 점수를 구하는 프로그램을 작성하세요. 단, 소숫점 자리는 모두 버립니다.

In [7]:
data = list(map(int, input().split()))
print(data)
# print(int(sum(data)/3))

1 2 3 4 5
[1, 2, 3, 4, 5]

# 문제 37: count 사용하기 - 다시
새 학기를 맞아 호준이네 반은 반장 선거를 하기로 했습니다.<br>
그런데 표를 하나씩 개표하는 과정이 너무 번거롭게 느껴진 당신은 학생들이 뽑은 후보들을 입력받으면 뽑힌 학생의 이름과 받은 표 수를 출력하는 프로그램을 작성하기로 하였습니다.

In [79]:
data = list(input().split())
print('data: ', data)
vote = 0

# for i in range(len(data)):
print(i)
print('data[i-1]',data[i-1])
print('data[i]', data[i])
print('data.count(data[i-1])', data.count(data[i-1]))
print('data.count[data[i]]', data.count(data[i]))
#     if data.count(data[i-1]) < data.count(data[i]):
#         vote = i
#         print("{}(이)가 총 {}표로 반장이 되었습니다.".format(data[vote], data.count(data[vote])))

지혜 재민 지혜
data:  ['지혜', '재민', '지혜']
2
data[i-1] 재민
data[i] 지혜
data.count(data[i-1]) 1
data.count[data[i]] 2

In [82]:
data = list(input().split())
print('data: ', data)
vote = 0

for i in range(len(data)):
    if data.count(data[i-1]) < data.count(data[i]):
        vote += i
        print(vote)
        print("{}(이)가 총 {}표로 반장이 되었습니다.".format(data[vote], data.count(data[vote])))

지혜 지혜 재민
data:  ['지혜', '지혜', '재민']
0
지혜(이)가 총 2표로 반장이 되었습니다.

# 문제 19: 제곱을 구하자
공백으로 구분하여 두 숫자 a와 b가 주어지면, **a의 b승**을 구하는 프로그램을 작성하세요.

In [13]:
data = list(map(int,input().split()))
data[0] ** data[1]

3 5

243

# 문제 20: 몫과 나머지
공백으로 구분하여 두 숫자가 주어집니다.
첫번째 숫자로 두번째 숫자를 나누었을 때 그 몫과 나머지를 공백으로 구분하여 출력하세요.

In [15]:
data = list(map(int, input().split()))
a = data[0] // data[1]
b = data[0] % data[1]
print(a, b)

10 5
2 0

# 문제 21: set은 어떻게 만드나요?
다음 중 set을 만드는 방법이 아닌 것?

In [ ]:
x1 = {1, 2, 3, 5, 6, 7}
x2 = {}  # 딕셔너리
x3 = set('python')  # {'h', 'n', 'o', 'p', 't', 'y'}
x4 = set(range(5))  # {0, 1, 2, 3, 4}
x5 = set()

# set은 키만 있는 딕셔너리와 같다. 중복된 값은 존재할 수 없다.

# 문제 22: 배수인지 확인하기
다음 중 변수 i가 6의 배수인지 확인하는 방법으로 올바른 것은?

In [28]:
for i in range(1,13):
    if i % 6 == 0:
        print(f'{i}: 6의 배수입니다.')
    else:
        print(f'{i}: 6의 배수가 아니지롱')

1: 6의 배수가 아니지롱
2: 6의 배수가 아니지롱
3: 6의 배수가 아니지롱
4: 6의 배수가 아니지롱
5: 6의 배수가 아니지롱
6: 6의 배수입니다.
7: 6의 배수가 아니지롱
8: 6의 배수가 아니지롱
9: 6의 배수가 아니지롱
10: 6의 배수가 아니지롱
11: 6의 배수가 아니지롱
12: 6의 배수입니다.

# 문제 23: OX 문제
print(10/2)의 출력 결과는 5이다.

In [29]:
print(10/2)

5.0

# 문제 24: 대문자로 바꿔주세요!
민지는 국제 포럼에서 아르바이트를 하게 되었습니다. 민지는 각 국에서 온 참가자들의 명단을 엑셀로 정리하고 있는데 참가자들 이름이 어떤 이는 전부 소문자, 어떤 이는 전부 대문자로 써져 있는 등 형식이 제각각이었습니다.

민지를 위해 **이름이 입력되면 전부 대문자로 출력되는 프로그램**을 만들어주세요.

In [32]:
name = input()
name.upper()

park jihye

'PARK JIHYE'

# 문제 25: 원의 넓이를 구해주세요
원의 넓이는 `반지름의 길이 x 반지름의 길이 x 3.14`로 구할 수 있습니다.
함수를 사용하여 원의 넓이를 구하는 코드를 작성해봅시다.

입력을 반지름의 길이로 정수 n이 주어지면 원의 넓이를 반환하는 함수를 만들어 주세요.
(입력을 해야하기 때문에 input을 반드시 사용해야합니다)

In [38]:
def circle(n):
    return (n*n*3.14)

print(circle(int(input())))

5
78.5

# 문제 26: 행성문제
우리 태양계를 이루는 행성은 수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성이 있습니다.<br>
이 행성들의 영어 이름은 Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune입니다.

행성의 한글 이름을 입력하면 영어 이름을 반환하는 프로그램을 만들어 주세요.

In [55]:
solar_dict = {
    '수성': 'Mercury',
    '금성': 'Venus',
    '지구': 'Earth',
    '화성': 'Mars',
    '목성': 'Jupiter',
    '토성': 'Saturn',
    '천왕성': 'Uranus',
    '해왕성': 'Neptune'
}

name = input()
print(solar_dict[name])

지구
Earth

In [62]:
solar_dict = {
    '수성': 'Mercury',
    '금성': 'Venus',
    '지구': 'Earth',
    '화성': 'Mars',
    '목성': 'Jupiter',
    '토성': 'Saturn',
    '천왕성': 'Uranus',
    '해왕성': 'Neptune'
}
name = input()
for ko, en in solar_dict.items():
    if en == name:
        print(ko)

Jupiter
목성

# 문제 27: 딕셔너리 만들기 - 다시
첫 줄에는 학생의 이름이 공백으로 구분되어 입력되고, <br>
두번째 줄에는 그 학생의 수학 점수가 공백으로 구분되어 주어집니다.

두 개를 합쳐 학생의 이름이 key이고 value가 수학 점수인 딕셔너리를 출력해주세요.

In [63]:
dict1 = {
    input(): int(input()),
}

박지혜
24

In [64]:
dict1

{'박지혜': 24}

# 문제 28: 2-gram
2-gram이란 문자열에서 2개의 연속된 요소를 출력하는 방법입니다. <br>
예를 들어 'Python'을 2-gram으로 반복해 본다면 다음과 같은 결과가 나옵니다.
```
Py
yt
th
ho
on
```
입력으로 문자열이 주어지면 **2-gram**으로 출력하는 프로그램을 작성해 주세요.

In [14]:
data = input()

for i in range(len(data)-1):
    print(data[i],data[i+1], sep='')

python
py
yt
th
ho
on

# 문제 29: 대문자만 지나가세요.
진구는 영어 학원 아르바이트를 하고 있습니다. 반 아이들은 알파벳을 공부하는 학생들인데 오늘은 대문자 쓰기 시험을 봤습니다.

알파벳 하나만을 입력하고 그 알파벳이 대문자이면 YES를 아니면 NO를 출력하는 프로그램을 만들어 주세요.

→ 알파벳 여러개를 입력하고 여러개 입력한 것 중 대문자만 출력해주는 프로그램도 만들어보세요.

In [16]:
# 첫번째
al=input()
if al.isupper():
    print('YES')
else:
    print('NO')

S
YES

In [35]:
# 두번쨰
al2=input()

for i in al2:
    if i.isupper():
        print(i,end='')

dlknsQWEQ
QWEQ

# 문제 30: 문자열 속 문자 찾기
문자 pineapple에는 apple이라는 문자가 숨어 있습니다. 원범이는 이렇듯 문자열 속에 숨어있는 문자를 찾아보려고 합니다.

입력으로 첫 줄에 문자열이 주어지고 둘째 줄에 찾을 문자가 주어지면 <br>
**그 문자가 시작하는 index를 반환하는 프로그램**을 만들어 주세요

In [5]:
str1 = input()
str2 = input()

print(str1.index(str2))
print(str1.find(str2))

pineapple is yummy
apple
4
4

# 문제 32: 문자열 만들기
취업 준비생인 혜림이는 자기소개서를 쓰고 있습니다. 열심히 자기소개서를 작성하던 도중 혜림이는 자기가 지금까지 단어를 얼마나 적었는지 궁금하게 됩니다. 

혜림이를 위해 문자열을 입력받으면 단어의 갯수를 출력하는 프로그램을 작성해 주세요.

In [14]:
str1 = input()
str2 = str1.strip().split()
print(len(str2))

wleknwlke werknwlekrnlwe welr;weoridfsld
3

# 문제 33: 거꾸로 출력하기
한 줄에 여러개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 프로그램을 작성하시오.

In [93]:
n = list(input())
print(n[::-1])

123
['3', '2', '1']

# 문제 34: sort 구현하기
민주는 체육부장으로 체육시간이 되면 반 친구들이 제대로 키 순서대로 모였는지를 확인해야 한다. 그런데 요즘 민주는 그것이 너무 번거롭게 느껴져 한 번에 확인하고 싶어한다. 

민주를 위해 **키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램**을 작성해보자.

**입출력 예시**